* {
  -webkit-tap-highlight-color: transparent;
}
.text-stroke {
  color: white;
  font-size: 40px;
  text-shadow: -3px 2px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000,
    -1px -1px 0 #000;
}
::-moz-selection {
  color: #ffffff;
  background: #406ba6;
}
::selection {
  color: #ffffff;
  background: #406ba6;
}
.black-selection::selection {
  color: #000;
}
img {
  pointer-events: none;
  height: max-content;
}
.text-underline-1,
.text-underline-2,
.text-underline-3,
.text-underline {
  background-image: linear-gradient(90deg, #e67399, #f2a640);
  background-position: bottom;
  background-repeat: no-repeat;
}
.text-underline {
  background-size: 13.5rem 35%;
}
.text-underline-1 {
  background-size: 17.5rem 35%;
}
.text-underline-2 {
  background-size: 21rem 35%;
}
.text-underline-3 {
  background-size: 24rem 35%;
}
.animate-right-hand {
  animation: right-hand-animation 0.5s;
  animation-iteration-count: 3;
}
.animate-left-hand {
  animation: left-hand-animation 0.5s;
  animation-iteration-count: 3;
}
@keyframes left-hand-animation {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(-45deg);
  }
  100% {
    transform: rotate(0);
  }
}
@keyframes right-hand-animation {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(45deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.spin-bg::before {
  background: url("https://i.ibb.co/0DxSN2D/red-yellow-spiral-swirl-radial-background-7280-3947.webp")
    no-repeat center center;
  background-size: cover;
  content: "";
  width: 5rem;
  height: 5rem;
  position: absolute;
  animation: spin 4s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* .hand-move-left {
  animation: hand-move-left 1.8s linear infinite;
}
@keyframes hand-move-left {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(6px);
  }
  100% {
    transform: translateX(0);
  }
}
.hand-move-right {
  animation: hand-move-right 1.8s linear infinite;
}
@keyframes hand-move-right {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-6px);
  }
  100% {
    transform: translateX(0);
  }
} */
.num-slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 50px;
  outline: none;
}

.num-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #04aa6d;
  cursor: pointer;
}

.num-slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #04aa6d;
  cursor: pointer;
}
